<div class="container">
  <div id="viewApexChart">
    <apx-chart
      #apexChart
      class="apex-chart-el"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [yaxis]="chartOptions.yaxis!"
      [legend]="chartOptions.legend!"
      [fill]="chartOptions.fill!"
      [stroke]="chartOptions.stroke!"
      [tooltip]="chartOptions.tooltip!"
      [xaxis]="chartOptions.xaxis!"
      [theme]="chartOptions.theme!"
    ></apx-chart>
  </div>
</div>
